[Unit]
Description=Polkadex Thea Node
After=network-online.target
Wants=network-online.target

[Service]
User=ubuntu
Group=ubuntu
ExecStart=/usr/local/bin/polkadex-thea-node \
    --chain /etc/customSpecRaw.json \
    --rpc-cors=all \
    --validator \
    --bootnodes {{ bootnodes }} \
    --rpc-port=9945 \
    --in-peers=50 \
    --out-peers=50

Restart=on-failure

[Install]
WantedBy=multi-user.target
